@import "tailwindcss";

@theme {
	--font-heading: "Heading", "sans-serif";
}

@font-face {
	font-family: 'Heading';
	src: url('/assets/fonts/unbounded.woff2') format('woff2');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading font-bold uppercase leading-tight;
}

h1 {
	@apply text-7xl;
}

body {
	background: #000;
	color: #fff;
}

