@layer theme, base, components, utilities;

@import "./rmiz.css";

@import "./preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);


:root {
	background: --theme(--bg-primary);
	color: oklch(86.9% 0.005 56.366);

	scrollbar-color: #333 --theme(--bg-primary);

	--h1: 2.2875rem;
	--h2: 1.83rem;
	--h3: 1.4625rem;
	--paragraph: 1rem;
	--text-base: 0.75rem;
	--text-tiny: 0.6rem;
	--text-small: 0.48rem;

	@media (min-width: 768px) {
		/* --text-7xl: 5.96rem; */
		/* --text-6xl: 4.77rem; */
		/* --text-5xl: 3.81rem; */
		--h1: 3.05rem;
		--h2: 2.44rem;
		--h3: 1.95rem;
		/* --text-xl: 1.56rem; */
		--paragraph: 1.25rem;
		--text-base: 1rem;
		--text-tiny: 0.8rem;
		--text-small: 0.64rem;
	}
}

@theme inline {
	--text-small: var(--text-small);
	--text-paragraph: var(--paragraph);
	--text-h3: var(--h3);
	--text-h2: var(--h2);
	--text-h1: var(--h1);
}

@theme {
	--font-atkinson-mono: "Atkinson Mono", "monospace";
	--font-atkinson: "Atkinson", "sans-serif";

	--size-text: 1em;

	--spacing-text: 1em;
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 0.75rem;
	--spacing-lg: 1rem;
	--spacing-2lg: 1.25rem;
	--spacing-xl: 2rem;

	--bg-primary: #09080d;
	--color-article: #000;

	--color-brand-950: oklch(29.3% 0.136 325.661);
	--color-brand-900: oklch(40.1% 0.17 325.612);
	--color-brand-800: oklch(45.2% 0.211 324.591);
	--color-brand-700: oklch(51.8% 0.253 323.949);
	--color-brand-600: oklch(59.1% 0.293 322.896);
	--color-brand-500: oklch(66.7% 0.295 322.15);
	--color-brand-400: oklch(74% 0.238 322.16);
	--color-brand-300: oklch(83.3% 0.145 321.434);
	--color-brand-200: oklch(90.3% 0.076 319.62);
	--color-brand-100: oklch(95.2% 0.037 318.852);
	--color-brand-50: oklch(97.7% 0.017 320.058);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/assets/fonts/atkinson-hypereligible/normal.woff2') format('woff2');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/assets/fonts/atkinson-hypereligible/italic.woff2') format('woff2');
	font-weight: 200 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Mono';
	src: url('/assets/fonts/atkinson-hypereligible/mono/normal.woff2') format('woff2');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Mono';
	src: url('/assets/fonts/atkinson-hypereligible/mono/italic.woff2') format('woff2');
	font-weight: 200 800;
	font-style: italic;
	font-display: swap;
}

*:focus-visible {
	outline: none;
}

body {
	@apply antialiased;
}

