@import "tailwindcss";

@import "../pages/_common/article-page.css";

@theme {
	--font-heading: "Heading", "sans-serif";

	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 0.75rem;
	--spacing-lg: 1rem;
	--spacing-2lg: 1.25rem;
	--spacing-xl: 2rem;
}

@font-face {
	font-family: 'Heading';
	src: url('/assets/fonts/unbounded.woff2') format('woff2');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading font-bold uppercase leading-tight;
}

body {
	background: #111111;
	color: #fff;

	@apply text-xl;
}

