article {
	counter-reset: section;

	@apply space-y-xl;
}

section {
	@apply space-y-lg;
}

article h1 {
	counter-increment: section;
	counter-reset: subsection figure;

	&::before {
		content: counter(section) ". ";
	}
}

article h2 {
	counter-increment: subsection;
	counter-reset: subsubsection figure;

	&::before {
		content: counter(section) "." counter(subsection) ". ";
	}
}

article h3 {
	counter-increment: subsubsection;
	counter-reset: figure;

	&::before {
		content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
	}
}

figure {
	counter-increment: figure;
}

figcaption {
	font-weight: bold;
}

article > section > figure > figcaption::before {
	content: "Figure " counter(section) "-" counter(figure) ": ";
}

article > section > section > figure > figcaption::before {
	content: "Figure " counter(section) "." counter(subsection) "-" counter(figure) ": ";
}

article > section > section > section > figure > figcaption::before {
	content: "Figure " counter(section) "." counter(subsection) "." counter(subsubsection) "-" counter(figure) ": ";
}
