---
import Layout from "@/components/layout.astro";
import { SEO } from "astro-seo";
import { getEntry } from "astro:content";
import { getLocaleStaticPaths } from "src/utils/i18n";

export const getStaticPaths = getLocaleStaticPaths;

const writing = await getEntry("writings", "test");
console.log("Writing:", writing);

if (!writing) {
	throw new Error("Writing not found");
}

if (writing.data.series) {
	const series = await getEntry(writing.data.series);
	console.log("Series:", series);
}
---

<Layout>
	<SEO title="Pavel Sušický's blog" slot="head" />
	<main class="pt-[16rem] min-h-svh">
		<h1 class="text-center">Pavel Sušický's blog</h1>
	</main>
</Layout>
