---
import Layout from "@/components/layout.astro";
import { SEO } from "astro-seo";

// const writing = await getEntry("articles", "how-to-create-a-new-application");

// if (!writing) {
// 	throw new Error("Writing not found");
// }

// console.log("Writing data", writing.data);

// const authors = await getEntries(writing.data.authors);

// console.log("Authors:", authors);

// if (writing.data.series) {
// 	const series = await getEntry(writing.data.series);
// 	console.log("Series:", series);
// }
---

<Layout>
	<SEO title="Pavel Sušický's blog" slot="head" />
	<main class="pt-[16rem] min-h-svh">
		<h1 class="text-center">Pavel Sušický's blog</h1>
	</main>
</Layout>
