---
import Layout from "@/components/layout.astro";
import { SEO } from "astro-seo";
---

<Layout>
	<SEO title="Pavel Sušický's blog" slot="head" />
	<main class="pt-[16rem] min-h-svh">
		<h1 class="text-center">Pavel Sušický's blog</h1>
	</main>
</Layout>
