---
import { getEntry, getCollection, render } from "astro:content";
import { AstroSeo as AstroSEO } from "@astrolib/seo";

import PostLayout from "@/components/layout/post-layout.astro";

import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
	const posts = await getCollection("publicPosts");

	return posts.map(post => {
		return {
			params: { slug: post.id },
		};
	});
}) satisfies GetStaticPaths;

const entry = await getEntry("publicPosts", Astro.params.slug);

const { title } = entry.data;
const { Content } = await render(entry);
---

<AstroSEO {title} />

<PostLayout>
	<h1>{title}</h1>
	<Content />
</PostLayout>
