---
import { SquareArrowUpRightIcon } from "@lucide/astro";

export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, ...props } = Astro.props;

if (href instanceof URL) {
	throw new Error("TextLink does not support URL objects. Use a string instead.");
}

if (!href) {
	throw new Error("TextLink requires a valid href attribute.");
}

const isExternal = href && (href.startsWith("http://") || href.startsWith("https://"));
const url = isExternal ? new URL(href) : null;

if (isExternal) {
	props.target = "_blank";
	props.rel = "noopener noreferrer";
}
---

<a data-link="text" {href} {...props}>
	<slot />
	{isExternal && url
		? (
				<span data-link-external-icon>
					<img
						src={`https://t3.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${href}&size=64`}
						loading="lazy"
						decoding="async"
						height="16"
						width="16"
						alt=""
					/>
					<SquareArrowUpRightIcon class="stroke-[2.5]" />
				</span>
			)
		: null}
</a>
